<template>
  <v-container>
    <v-row justify="center">
      <v-spacer/>
      <v-col>
        <h1 style="text-align: center">Microsla Model E</h1>
      </v-col>
      <v-spacer/>
    </v-row>
    <v-row justify="center">
      <v-spacer/>
      <v-col>
        <div>
          <v-img :src="imageUrl" max-width="600"></v-img>
        </div>
      </v-col>
      <v-spacer/>
    </v-row>
    <v-row>
      <v-col>
        <h2>Base Price: {{ basePrice | euro }}</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-list flat subheader>
          <v-subheader>Options</v-subheader>
          <v-list-item-group v-model="selectedExtras" @change="selectionChanged" multiple active-class="">
            <v-list-item v-for="extra in extras" :key="extra.id">
              <template v-slot:default="{ active }">
                <v-list-item-action>
                  <v-checkbox :input-value="active"></v-checkbox>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>{{ extra.description }}</v-list-item-title>
                  <v-list-item-subtitle>Price: {{ extra.price || 'N/A' | euro }}</v-list-item-subtitle>
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h2>Your price (with extras): {{ totalPrice | euro }}</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn depressed color="primary" :href="pdfUrl">
          Download PDF
          <v-icon right dark>
            mdi-file-pdf
          </v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Microsla',
  data: () => ({
    backendUrl: process.env.VUE_APP_BACKEND_URL + '/api/v1/gateway',
    basePrice: 'N/A',
    totalPrice: "N/A",
    extras: [],
    selectedExtras: [],
    prices: {}
  }),
  computed: {
    extraIdsQueryParam: function () {
      if (this.selectedExtras.length === 0) {
        return '';
      } else {
        return 'extraIds=' + this.selectedExtras.map((index => this.extras[index].id)).join(',');
      }
    },
    imageUrl: function () {
      return `${this.backendUrl}/image?${this.extraIdsQueryParam}`;
    },
    pdfUrl: function () {
      return `${this.backendUrl}/pdf?${this.extraIdsQueryParam}`;
    }
  },
  methods: {
    selectionChanged: function () {
      this.$axios.get(`${this.backendUrl}/price/config?${this.extraIdsQueryParam}`).then(response => {
        this.totalPrice = response.data;
      }).catch((err) => {
        console.log(err)
      });
    },
    addPrice: function (extra) {
      extra.price = this.prices[extra.id] || 'N/A';
      return extra;
    }
  },
  filters: {
    euro: function (number) {
      return number + " €"
    }
  },
  mounted() {
    this.$axios.get(`${this.backendUrl}/price/extras`).then(response => {
      response.data.forEach(extraPrice => {
        this.prices[extraPrice.id] = extraPrice.price;
      });
      this.extras = this.extras.map(this.addPrice);
    }).catch((err) => {
      console.log(err);
    });

    this.$axios.get(`${this.backendUrl}/extras`).then(response => {
      this.extras = response.data.map(this.addPrice);
    }).catch((err) => {
      console.log(err)
    });

    this.$axios.get(this.backendUrl + '/price/base').then(response => {
      this.basePrice = response.data;
      this.totalPrice = response.data;
    }).catch((err) => {
      console.log(err)
    });
  }
}
</script>
