<template>
  <v-app>
    <v-main>
      <microsla/>
    </v-main>
  </v-app>
</template>

<script>
import Microsla from "@/components/Microsla";

export default {
  name: 'App',
  components: {
    Microsla
  }
};
</script>
